<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">

    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/contenue.css">
    <link rel="stylesheet" href="styles/footer.css">
    <title>Document</title>
</head>
<body>
    <div class="page">

        <header>
            <p>header</p>
        </header>

        <div class="navbar">
            <ul>
                <li><a href="">LINK</a></li>
                <li><a href="">LINK</a></li>
                <li class="sousMenu">
                    <span class="noActive"><i class="fa-solid fa-bars"></i></span>
                    <span class="Active"><i class="fa-solid fa-bars-filter"></i></span>
                    <ul>
                        <li><a href="">sous LINK sous LINK sous LINK</a></li>
                        <li><a href="">sous LINK</a></li>
                        <li><a href="">sous LINK</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="contenue">
            <h1>contenue</h1>
        </div>

        <footer>
            <p>footer</p>
        </footer>

    </div>
</body>
</html>