.contenue{
    background-color: green;
    position: relative;
}
.contenue i{
    font-size: 30px;
    color: red;
    background-color: black;
}

.demos{
    height: 80vh;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
}
.demos .demo{
    background-color: blueviolet;
    display: flex;
        justify-content: center;
        align-items: flex-end;
    position: relative;
}
.demos .demo i{
    position: absolute;
    bottom: 50px;
}

.infos{
    position: relative;
    background-color: white;
    height: 80vh;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
}
.infos div{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    padding: 20px;
}