*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    transition: 300ms;
    font-family: 'Gentium Plus', serif;
}

p{
    font-size: 16pt;
}

a{
    display: flex;
        justify-content: center;
        align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.page{
    background-color: black;
}

.contenue{
    min-height: 150vh;
    background-color: red;
    position: relative;
}

.titre_Portfolio{
    position: sticky;
        top: 0;
    background-color: black;
    margin: 0 0;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3rem;
}

// .titres{
//     text-align: center;
//     padding: 50px 0;
//     color: white;
//     font-size: 4rem;
//     border-top: solid 5px white;
//     // border-bottom: solid 3px white;
// }