*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 350ms;
}

.page{
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}