header{
    padding: 40px 0;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    position: sticky;
        top: 0;
    color: white;
}
// header h1{
//     // padding: 10px 20px;
//     font-size: 3rem;
// }

// header h1 , p{
//     background-color: greenyellow;
// }