:root{
    --colorShadow: black;
}

.intitule{
    height: 90vh;
    // display: flex;
    // align-items: center;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 0px;

    h1,h2,h3{
        color: white;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
}

.intitule .text{
    position: relative;
    background-color: var(--colorShadow);
}

.intitule .text ul{
    position: absolute;
        top: 20%;
        left: 20%;
}

.intitule li:last-child{
    // background-color: red;
    
    button{
        width: 100%;
        font-size: 2rem;
        margin-top: 20px;
        background-color: black;
        color: white;
    }
    button:hover{
        background-color: white;
        color: #000;
    }
}

.intitule .photoProfil{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 40px 40px rgb(0, 0, 0, 0.8);
}
.intro{
    margin: 100px auto;
    // background-color: rgb(255, 255, 255,0.5);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-attachment: fixed;
    // min-height: 50vh;
    width: 100%;
}

// .intitule .photoProfil{
//     background-image: url('https://scontent.fcrl2-1.fna.fbcdn.net/v/t39.30808-6/278434351_731589691555079_3608081800614382370_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=YDMKyGHIyhoAX_lw70a&_nc_ht=scontent.fcrl2-1.fna&oh=00_AT8EKUmcp4sWj9fwjQKuri97ZZjJuwwL-I9sUjtcmFXIyA&oe=629A69DB');
//     background-repeat: no-repeat;    
//     background-position: center;
// }

// .intitule .photoProfil .shadow{
//     height: 100%;
//     width: 100%;
// }
@media (max-width: 600px) {
    .intitule .text ul{
        left: 10%;
    }
    .intitule .photoProfil .shadow{
        background-image: linear-gradient(to bottom , var(--colorShadow) , transparent);
    }
}
@media (min-width: 601px) {
    .intitule .photoProfil .shadow{
        background-image: linear-gradient(to right, var(--colorShadow) , transparent);
    }
}